@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
box-sizing: border-box;
}

body{
    background: url(NY.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    min-height: 100vh;
    color: rgb(240, 240, 240);
    overflow: hidden;
    font-family: 'Sacramento', cursive;
    display: flex;
    align-items: center;
    justify-content: center;

}

.countdown{
    text-align: center;
    font-size: 4rem;
}

.timer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.time{
    font-weight: bold;
    padding: 1rem 2 rem;
    font-size: 3rem;
    border: 4px solid #9ba8a7;
    backdrop-filter: blur(10px);
    margin: 0 1rem;
    border-radius: 1rem;
}

.countdown.container.span{
    font-size: 1rem;
    font-weight: bold;
    color: rgb;
}